*{
     		padding: 0;
     		margin: 0;
     		border: none;
     	}
     	body{
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         background-color: skyblue;
         text-align: center;
     		font-family: fantasy, sans-serif;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100vh;
     	}
     	.gameContainer{
         background: #002147;
         max-width: 400px;
         padding: 20px;
     		border: 1px solid white;
         border-radius: 10px;
     	}

      h1{
         color: beige;
      }

      .topPart{
         display: flex;
      }

      .topPart i{
         color: darkred;
         font-size: 25px;
      }

      .timer{
         border: 1px solid black;
         color: beige;
         padding: 5px;
      }

      .targetColor{
         width: 100px;
         height: 100px;
         margin: 20px auto;
         border-radius: 10px;
      }

      .optionContainer{
         display: flex;
         flex-wrap: wrap;
         gap: 5px;
         justify-content: center;
         margin: 20px;
      }

      .gameScore{
         margin: 0 auto;
         font-weight: bold;
         color: beige;
      }

      button{
         margin: 5px auto;
         border-radius: 5px;
         padding: 20px;
         cursor: pointer;
         transition: 0.4s;
      }

       .newGame{
         background-color: darkgray;
         padding: 10px;
      }

      button:active{
         transform: scale(0.95);
      }

      .button{
        background-color: beige;
        color: black;
        font-size: 25px;
        width: 250px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px auto 0px auto;
        cursor: pointer;
        transition: 0.7s;
      }

      .button:active{
         transform: scale(0.9);
      }

      @media (max-width: 200px){

         .optionContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         button{
            width: 80%;
         }

         .gameOver{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100px;
         }
         .button{
            width: 80%;
         }
      }

      .bounce{
         animation: correctdrop 0.6s ease-in-out;
         color: green;
      }

      @keyframes correctdrop{
         0% {transform: translateY(-30px);}
         100% {transform: translateY(0px);}
      }

      .shake{
         animation: wrongshake 0.2s ease-in-out;
         color: red;
      }

      @keyframes  wrongshake{
         0% {transform: translateX(-10px);}
         20% {transform: translateX(10px);}
         40%{transform: translateX(-10px);}
         60%{transform: translateX(10px);}
         80%{transform: translateX(-10px);}
         100%{transform: translateX(10px);}
      }

      .overDropdown{
         position: fixed;
         top: 200px;
         animation: gameOverDrop 0.7s ease-in-out !important;
         background-color: #002147;
         color: beige;
         border: 1px solid black;
         border-radius: 10px;
         z-index: 1000;
         padding: 20px;
         line-height: 2em;
      }

      @keyframes gameOverDrop{
         0%{transform: translateY(-500px);}
         100%{transform: translateY(0px);}
      }

      #overlay{
         position: fixed;
         top: 0;
         left: 0;
         background: rgba(0, 0, 0, 0.5);
         z-index: 999;
         width: 100%;
         height: 100%;
         display: none;
      }

      .showOverlay{
         display: block !important;
      }